*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
a,
span,
p,
div,
input,
textarea {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    line-height: 1;
    &:focus-visible {
        outline: 0;
    }
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
}

button,
a {
    cursor: pointer;
}
